html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    /* normally 100% is 16px, we want the size to be 10px so we do 62.5% */
}

body {
    background-color: blueviolet;
    color: black;
    font-size: 20px;
    text-align: center;
}

.header {
    font-size: 500%;
    background-color: aqua;
    padding: 2%;
}

.parent {
    font-size: 500%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin: 5%;
}

.baby {
    background-color: aliceblue;
    border: 5px solid brown;
    border-radius: 5%;
    min-width: 25%;
    max-width: 100%;
    width: 500px;
    height: 500px;
    margin: 1%;
    
}