html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    /* normally 100% is 16px, we want the size to be 10px so we do 62.5% */
}

body {
    color: #7e634d;
    font-family: 'Patrick Hand', cursive;
    background-color: #fffded;
    text-align: center;
}

h1 {
    font-family: 'Dangrek', cursive;
    font-style: italic;
    font-size: 4vw;
    margin-bottom: -2%;
}

h2 {
    font-size: 2vw;
    letter-spacing: 0.2vw;
}

.header {
    background-image: url(https://www.san-x.co.jp/charapri/images/kabe/sumi/42_1080_1920.png);
    height: auto;
    padding: 2%;
    transition: 0.4s;
}

.title {
    font-size: 500%;
    padding: 40px;
    background-color: white;
    align-content: center;
    border: 15px solid #f1e6c6;
    border-radius: 100%;
    width: 50%;
    height: auto;
    margin: auto;
    position: relative;
    top: 10%;
    box-shadow: 0px 0px 10px #7e634d;
    transition: 0.4s;
}

.title:hover {
    animation: 4s infinite enlarge;
}

@keyframes enlarge {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.parent {
    font-size: 500%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin: 4%;
}

img {
    width: 20em;
    height: auto;
    margin: 4%;
    transition: 0.4s;
}

.image:hover {
    transform: scaleX(-1);
    animation-play-state: ;
}

h3 {
    font-family: 'Dangrek', cursive;
    font-size: 2em;
}

.bio {
    font-size: 20px;
    margin: 0 2em;
}

.baby {
    background-color: white;
    border: 15px solid #f1e6c6;
    border-radius: 10%;
    min-width: 20%;
    max-width: 100%;
    width: 450px;
    height: 500px;
    margin: 2%;
    box-shadow: 0px 0px 10px #7e634d;
    transition: 0.4s;
}

.baby:hover {
    transform: scale(1.1);
}

.hokori {
    font-size: 80%;
    margin: 4% 10% 2% 10%;
}

.dust {
    width: 300px;
    animation: 4s linear infinite spinny, 5s ease-in-out infinite alternate move;
    transition: 4s;
    position: relative;
    margin: -100px 0 200px 0;
}

@keyframes spinny {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes move {
    0% {
        left: -20%;
    }

    100% {
        left: 20%;
    }
}